<% include partials/header %>

Login

<a class="btn btn-primary" href="/login">Admin Login</a>
<a class="btn btn-primary" href="/student/login">Student Login</a>
<a class="btn btn-primary" href="/supervisor/login">Supervisor Login</a>
<% include partials/footer %>