<% include ../partials/header %>

Everything for Supervisor

<div>
	<% supervisor.student.forEach(function(student){ %>
		<li><a class="btn btn-success" href="supervisor/student/<%=student._id%>"><%= student.name %></a></li>
	<% }); %>
</div>

<a class="btn btn-primary" href="/student/register">Create Student</a>
<% include ../partials/footer %>