 <% include ../partials/header %>

   <% student.message.forEach(function(message){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= message.author.name %></strong>
                            <p>
                                <%= message.report %> 
                            </p>
                           
                        </div>
                    </div>
    <% }) %>
   <% var d = new Date(); %>
   <% var currentDate = d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear(); %>

    <div class="container">
        <br>
        <div class="jumbotron">
            <form action="/student/message" method="POST">
                <h1 class="display-4">Send a Message to Supervisor</h1>
                <br>
                <textarea id = "message" name = "message" class="form-control" placeholder ="Your message"></textarea>
                <br>
                <button id="send" class="btn btn-success">Send</button>
            </form>
        </div>
        <div id="messages">
        </div>
    </div>
    


<% include ../partials/footer %>